.container_main {
margin-top: 60px !important;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container_main div {
    width: 30%;
    border: 1px solid;
    padding: 20px 15px;
    font-family: 'Poppins';
}

